<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>Servlets.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLoging</servlet-name>
        <servlet-class>Servlets.ServletLoging</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>Servlets.ServletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarUser</servlet-name>
        <servlet-class>Servlets.ActualizarUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarGanado</servlet-name>
        <servlet-class>ServletsGanado.RegistrarGanado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultarGanado</servlet-name>
        <servlet-class>ServletsGanado.ConsultarGanado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarGanado</servlet-name>
        <servlet-class>ServletsGanado.ActualizarGanado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarGanado</servlet-name>
        <servlet-class>ServletsGanado.EliminarGanado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerarReportes</servlet-name>
        <servlet-class>GenerarReportes.GenerarReportes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerarReporte</servlet-name>
        <servlet-class>GenerarReportes.GenerarReporte</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>Servlets.CerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarAdmin</servlet-name>
        <servlet-class>ServletsAdmin.ActualizarAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarUsuarios</servlet-name>
        <servlet-class>ServletsAdmin.RegistrarUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultarUsuarios</servlet-name>
        <servlet-class>ServletsAdmin.ConsultarUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarUsuario</servlet-name>
        <servlet-class>ServletsAdmin.ActualizarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarUsuario</servlet-name>
        <servlet-class>ServletsAdmin.EliminarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerarReportesAdmin</servlet-name>
        <servlet-class>GenerarReportes.GenerarReportesAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarFotosServlet</servlet-name>
        <servlet-class>Servlets.MostrarFotosServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLoging</servlet-name>
        <url-pattern>/ServletLoging</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/ServletLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarUser</servlet-name>
        <url-pattern>/ActualizarUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarGanado</servlet-name>
        <url-pattern>/RegistrarGanado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultarGanado</servlet-name>
        <url-pattern>/ConsultarGanado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarGanado</servlet-name>
        <url-pattern>/ActualizarGanado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarGanado</servlet-name>
        <url-pattern>/EliminarGanado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerarReportes</servlet-name>
        <url-pattern>/GenerarReportes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerarReporte</servlet-name>
        <url-pattern>/GenerarReporte</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/CerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarAdmin</servlet-name>
        <url-pattern>/ActualizarAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarUsuarios</servlet-name>
        <url-pattern>/RegistrarUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultarUsuarios</servlet-name>
        <url-pattern>/ConsultarUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarUsuario</servlet-name>
        <url-pattern>/ActualizarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarUsuario</servlet-name>
        <url-pattern>/EliminarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerarReportesAdmin</servlet-name>
        <url-pattern>/GenerarReportesAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarFotosServlet</servlet-name>
        <url-pattern>/MostrarFotosServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
